.body-bottom {
  position: relative;
  height: 554px;
  overflow-y: hidden;
}
.body__banner {
  /* padding: 10%; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-text {
  color: white;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  bottom: 10%;
}
.banner__content {
    color: white;
    width: 650px;
    position: absolute;
    top: 20%;
    right: 10%;
    text-align: center;
    text-shadow: 0px 1px 2px gray;
}
.banner__content h1 {
    font-size: 56px;
    margin-bottom: 56px;
}
.banner__content p {
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: lighter;
    line-height: 36px;
}

.body__heading {
  font-size: 56px;
  font-weight: bold;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.65);
}
.body__text {
  padding: 16px 12px;
  font-size: 14px;
  line-height: 24px;
  color: rgb(165, 165, 165);
}
.body__video {
  width: 100%;
  text-align: center;
  margin: 56px 0px;
  position: relative;
}
.body__img {
  cursor: pointer;
  width: 60%;
}
.icon-play {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 45%;
  cursor: pointer;
}
.body__banner-img {
  width: 100%;
}

.banner__user {
  position: absolute;
  right: 0;
  bottom: -110%;
  left: 0;
}
.user {
    display: flex;
    justify-content: space-between;
}
.img-user {
    width: 100%;
}
.content-user {
    text-align: center;
    padding: 24px;
}
.content-user h3{
    font-size: 36px;
}
.content-user p{
    font-size: 18px;
    margin: 16px;
    letter-spacing: 2px;
    
}
.content-user span{
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
}