.body-top {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 24px 48px;
  color: white;
}
.top-contact {
  font-size: 32px;
  display: flex;
  margin: 24px 0px;
  align-items: center;
}
.top-contact-text {
  line-height: 18px;
  font-size: 12px;
  letter-spacing: 2px;
  margin-left: 28px;
}
.top-text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 24px;
  margin: 36px 0px;
}

.top-text > span {
  font-size: 56px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.img {
  width: 100%;
}
.form-text {
  text-align: center;
}
.form-text p {
  color: #bebebe;
  font-size: 16px;
  margin-bottom: 20px;
}
.form-text h1 {
  color: rgba(0, 0, 0, 0.55);
  font-size: 32px;
}
.form-contact {
  margin: 32px 0px;
}
.lable {
  font-size: 16px;
  color: #bebebe;
  line-height: 16px;
}
.input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 20px;
  border: none;
  background-color: rgb(238, 238, 238);
  margin: 16px 0px;
  outline: none;
}
.div-icon {
  margin: 32px 0px;
  text-align: center;
}
.icon {
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 16px;
  color: #bebebe;
}
.body-bottom {
    position: relative;
    height: 600px;
    overflow-y: hidden;
  }