.tours-content {
    font-size: 24px;
  }
  .tours-heading {
    font-size: 24px;
    margin: 20px 0px 16px;
    font-weight: 200;
  }
  .tours-content p{
      font-size: 16px;
      color: #b8b8b8;
      margin-bottom: 16px;
    }
  .tours-btn {
    font-size: 14px;
    color: #b8b8b8;
    padding: 8px 16px;
    border: 1px solid #b8b8b8;
  }
  