#toast {
    position: fixed;
    top: 135px;
    right: 0;
}

.tst_test {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    padding: 20px;
    height: 50px;
    width: 350px;
    margin-bottom: 20px;
    animation: slideInLeft ease 0.3s, fadeOut linear 1s 3s forwards;
    transition: all linear 1s;
}

.toast:not(:last-child) {
    margin-bottom: 0.75rem;
}

.toast_icon,
.icon_close {
    padding: 0 16px;
}

.toast__icon {
    font-size: 24px;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
    line-height: 0;
}

.tst--error {
    border-color: #ff623d;
}

.toast__body {
    flex-grow: 1;
    margin-left: 30px;
}

.tst--error .toast__icon {
    color: #ff623d;
}
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(950px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}