* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
}

.row {
    width: 100%;
    position: relative;
    display: flex;
    column-gap: 16px;
}


/* left ------------------------------------------------------------------------------*/

.left {
    width: 230px;
    /* height: 1200px; */
    position: static;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #1e293b;
}


/* list */

.left_menu {
    padding: 8px;
    background-color: rgb(66, 181, 253);
    text-align: center;
}

.icon_menu {
    padding: 12px;
    background-color: white;
}

.left_item {
    padding: 14px 20px;
    position: relative;
}

.left_item::after {
    content: "";
    background-color: transparent;
    width: 4px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 99%;
    transition: all 0.1s;
}

.left_item:hover {
    background-color: #27a9e3;
    cursor: pointer;
}

.left_item:hover .list-child {
    display: block;
}

.left_link {
    text-decoration: none;
    color: white;
}


/* list-child */

.list-child {
    display: none;
    list-style: none;
    position: absolute;
    top: 0;
    left: 101%;
    background-color: rgba(0, 0, 0, 0.8);
}

.item-child {
    width: 100px;
    padding: 12px;
    border-bottom: 0.8px solid grey;
}

.item-child:hover {
    background-color: rgb(66, 181, 253);
    cursor: pointer;
}

.link-child {
    text-decoration: none;
    color: white;
}


/* end-left -------------------------------------------------------------------------------------*/


/* right -----------------------------------------------------------------------------------------*/

.right {
    width: calc(100% - 230px - 16px);
    /* border: 1px solid black; */
    min-height: 760px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    position: relative;
}


/* right_header  */

.right_header {
    background-color: white;
    /* height: 120px; */
    padding: 16px;
    display: flex;
    flex-direction: row;
}

.header-bgr {
    padding: 8px;
    background-color: rgb(255, 162, 49);
    display: flex;
    align-items: center;
    margin-right: 16px;
}


/* .header-img {
} */

.header-heading {
    display: inline-block;
    font-size: 36px;
    padding: 0 36px;
    color: white;
    align-items: center;
}

.header-name {
    flex: 1;
    background-color: rgb(0, 183, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.check_menu:checked~.acc_list {
    display: block;
}

.acc_list {
    position: absolute;
    top: 102%;
    left: 0;
    right: 0;
    background-color: white;
    /* padding: 16px; */
    box-shadow: 0px 1px 3px rgb(204, 204, 204);
    display: none;
}

.acc_item {
    list-style: none;
    padding: 8px 16px;
}

.acc_item:hover {
    background-color: rgb(172, 172, 172);
    text-decoration: underline;
}

.acc_link {
    text-decoration: none;
    color: black;
}


/* end right_header*/

.right_nav {
    background-color: white;
    color: rgb(0, 183, 255);
    padding: 12px 16px;
}

.right-heading {
    color: white;
    text-align: center;
    font-size: 24px;
    text-shadow: 0px 1px 3px green;
}


/*right  body */

.right_body {
    width: 100%;
    /* min-height: 360px; */
    padding: 8px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    box-sizing: border-box;
}


/* dùng riêng */


/* end-body */

.right_footer {
    color: white;
    padding: 16px;
    background-color: #1e293b;
    line-height: 36px;
    text-align: center;
    text-shadow: 0px 1px 3px green;
    bottom: 0;
    right: 16px;
    left: 0;
}


/* end-right -------------------------------------------------------------------------------------*/


/* class chung -----------------------------------------------------------------------------------*/

.mr-8 {
    margin-right: 8px;
}

.fl-right {
    float: right;
}

.btn {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
}

.btn:hover {
    text-decoration: underline;
}

.btn-reset {
    background-color: rgb(255, 0, 0);
}


/*form*/

form {
    padding: 8px;
    background-color: white;
}

.form_add {
    width: 100%;
    /* margin: 0 auto; */
    /* padding: 8px; */
}

.form_group-list {
    width: 96%;
    margin: 8px auto 0px;
}

.form_group {
    margin: 16px 0px;
}

.form_group-2 {
    width: 48%;
    margin: 0px 8px;
}

.form_lable {
    font-size: 20px;
    display: block;
    font-weight: 600;
}

.form_input {
    width: 100%;
    padding: 8px 16px;
    margin-top: 8px;
    border-radius: 4px;
    outline: none;
    border: 1px solid black;
    box-sizing: border-box;
}


/* list */

.table {
    width: 96%;
    margin: 0 auto;
    margin-top: 8px;
}

.thead {
    background-color: grey;
}

th {
    padding: 16px 0px;
    background-color: rgb(24, 132, 255);
    color: white;
}

.tbody {
    background-color: antiquewhite;
    text-align: center;
}

td {
    padding: 12px 0px;
    /* box-shadow: 0px 1px 3px black; */
    min-width: 50px;
}

td {
    border: 1px solid #e9ecef;
}

table {
    border-collapse: collapse;
    width: 100%;
}


/* th, td{
  text-align:cen;
  padding:10px;
} */

table tr:nth-child(odd) {
    background-color: #fff;
}

table tr:nth-child(even) {
    background-color: white;
}


/* -------------------modal--------------- */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 300px;
    background-color: #fff;
    position: relative;
    animation: modalFadeIn ease 0.3s;
}

.modal-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    opacity: 0.9;
}

.modal-close:hover {
    opacity: 1;
    background-color: #f44336;
}


/*  */

.modal-header {
    height: 43px;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
}

.header-name-modal {
    flex: 0;
    font-size: 18px;
    display: contents;
}

.modal-body {
    padding: 16px;
    color: #000;
}


/*end-class chung*/